@{
    ViewBag.Title = "Kalkulator";
    Layout = "../Shared/_Layout.cshtml";

}
<h2>Kalkulator</h2>

<div>
    @(Html.DevExtreme().Popup()
                  .ID("calc-popup")
                  .ElementAttr("class", "popup")
                  .Width(300)
                  .Height(250)
                  .ShowTitle(true)
                  .Title("Wynik")
                  .Visible(false)
                  .DragEnabled(false)
                  .CloseOnOutsideClick(true)
    )

    @using (Html.DevExtreme().NamedTemplate("popup-template"))
    {
        <span>
            <div>
                <p align="center" id="result"></p>
            </div>
        </span>
    }

    @(Html.DevExtreme().SelectBox().ID("sexBox")
                                                  .Placeholder("Płeć")
                                                  .DataSource(d => d.Mvc().Controller("Home").LoadAction("GetDataForSexSelectBox").Key("ID"))
                                                  .ValueExpr("ID")
                                                  .DisplayExpr("Name")

                                                  .Items(i =>
                                              {
                                                  i.Add().Text("Mężczyzna");
                                                  i.Add().Text("Kobieta");
                                              }))
    <br />
    @(Html.DevExtreme().NumberBox().ID("weightBox").Min(30).Max(300).Placeholder("Masa ciała (kg)").Value(null))
    <br />
    @(Html.DevExtreme().NumberBox().ID("yearsBox").Min(10).Max(100).Placeholder("Wiek (lat)").Value(null))
    <br />
    @(Html.DevExtreme().NumberBox().ID("heightBox").Min(120).Max(250).Placeholder("Wzrost (cm)").Value(null))
    <hr />
    <div class="row"></div>
    <div class="col-xs-6">

        @(Html.DevExtreme().SelectBox()
                      .ID("calcSelectBox")
                      .Placeholder("Kalkulator")
                      .ValueExpr("ID")
                      .DisplayExpr("Name")
                                  .DataSource(d => d.Mvc().Controller("Home").LoadAction("GetDataForAccordion").Key("ID"))
                      .OnValueChanged("tagBox_valueChanged")
        )
    </div>
    <div class="col-xs-6">
        @(Html.DevExtreme().Button().Text("Oblicz").OnClick("OnClickCalculate"))
    </div>

    <hr />
    @(Html.DevExtreme().Accordion()
                                  .ID("accordion-container")
                                  .DataSource(d => d.Mvc().Controller("Home").LoadAction("GetDataForAccordion").Key("ID"))
                                  .AnimationDuration(300)
                                  .Collapsible(false)
                                  .Multiple(true)
                                  .ItemTitleTemplate(@<text><h1><%= Name %></h1></text>)
                                                .ItemTemplate(@<text>
                                                    <div class="accodion-item">
                                                        <div>
                                                            <p>
                                                                <span><%= Description %></span>
                                                            </p>
                                                        </div>

                                                    </div>
                                                </text>)
    )
</div>
<script>

    function getAccordionInstance() {
        return $("#accordion-container").dxAccordion("instance");
    }

    function getSeletedBoxValue() {
        return $("#calcSelectBox").dxSelectBox("instance").option("value");
    }

    function getSexBoxValue() {
        return $("#sexBox").dxSelectBox("instance").option("value");
    }

    function getWeightBoxValue() {
        return $("#weightBox").dxNumberBox("instance").option("value");
    }
    function getHeightBoxValue() {
        return $("#heightBox").dxNumberBox("instance").option("value");
    }
    function getYearsBoxValue() {
        return $("#yearsBox").dxNumberBox("instance").option("value");
    }

    function tagBox_valueChanged(e) {
        getAccordionInstance().option("selectedIndex", (e.value - 1));
    }

    function OnClickCalculate() {
        var selectedCalc = getSeletedBoxValue();
        if (selectedCalc === 1) {
            CalculateBMI();
        }
        else if (selectedCalc === 2) {
            CalculateCPM();
        }
        else if (selectedCalc === 3) {
            CalculateBroce();
        }
        else if (selectedCalc === 4) {
            CalculateLorentz();
        }
        else {
            NoParameters();
        }
    }


    function NoParameters() {
        $("#result").html('<h3>' + 'Nie wybrano kalkulatora' + '</h3>');
    }

    function CalculateLorentz() {
        OpenPopup();
        var sex = getSexBoxValue();
        var height = getHeightBoxValue();


        if (sex === 1) {
            var text = (height - 100) - (0.25 * (height - 150));
        } else {
            var text = (height - 100) - (0.5 * (height - 150));
        }
        //wzór Lorentza dla kobiet
        //należna masa ciała [kg] = wzrost [cm] – 100 – 0,5 x (wzrost [cm] – 150)
        //wzór Lorentza dla mężczyzn
        //należna masa ciała [kg] = wzrost [cm] – 100 - 0,25 x (wzrost [cm] – 150)
        $("#result").html('<h3>' + Math.round(text) + ' kg' + '</h3>');

    }
    function CalculateBroce() {
        OpenPopup();

        var sex = getSexBoxValue();
        var height = getHeightBoxValue();

        if (sex === 1) {
            var text = (height - 100) - ((height - 100) * 0.05);
        } else {
            var text = (height - 100) - ((height - 100) * 0.10);
        }

        $("#result").html('<h3>' + Math.round(text) + ' kg' + '</h3>');

    }
    function CalculateCPM() {
        OpenPopup();

        var sex = getSexBoxValue();
        var weight = getWeightBoxValue();
        var height = getHeightBoxValue();
        var year = getYearsBoxValue();

        if (sex === 1) {
            var text = 88.362 + (13.397 * weight) + (4.799 * height) - (5.677 * year);
        } else {
            var text = 447.593 + (9.247 * weight) + (3.098 * height) - (4.33 * year);
        }


        $("#result").html('<h3>' + Math.round(text) + ' kcal' + '</h3>');

    }
    function CalculateBMI() {
        OpenPopup();


        var weight = getWeightBoxValue();
        var height = getHeightBoxValue();

        var resultBMI = (weight / ((height / 100) * (height / 100)));


        if (resultBMI < 16)
            var text = "wygłodzenie";
        else if (resultBMI >= 16 && resultBMI <= 16.99)
            var text = "wychudzenie";
        else if (resultBMI >= 17 && resultBMI <= 18.49)
            var text = "niedowaga";
        else if (resultBMI >= 18.5 && resultBMI <= 24.99)
            var text = "waga prawidłowa";
        else if (resultBMI >= 25 && resultBMI <= 29.99)
            var text = "nadwaga";
        else if (resultBMI >= 30 && resultBMI <= 34.99)
            var text = "I stopień otyłości";
        else if (resultBMI >= 35 && resultBMI <= 39.99)
            var text = "II stopień otyłości";
        else if (resultBMI > 40)
            var text = "otyłość skrajna";

        $("#result").html('<h3>' + text + '</h3>');
    }

    function OpenPopup() {
        var popup = $("#calc-popup").dxPopup("instance");
        popup.option("contentTemplate", $("#popup-template"));
        popup.show();
    }




</script>